<ion-header>
  <ion-toolbar>
    <ion-title>agendar_consulta</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-label>Nome</ion-label>
    <ion-input></ion-input>
    <ion-label>Especie</ion-label>
    <ion-input></ion-input>
    <ion-label>Especialidade</ion-label>
    <ion-input></ion-input>
    <ion-label>Data</ion-label>
    <ion-input></ion-input>
    <ion-label>Horário</ion-label>
    <ion-input></ion-input>
    <ion-label>Observações</ion-label>
    <ion-input></ion-input>
  
  
     <ion-button color="sucess">Agendar</ion-button>
  </div>

</ion-content>
